@font-face {
  font-family: 'Kievit Regular';
  src: url("KievitWebPro-Book.eot");
  src: local('Kievit Regular'), url("fonts/KievitWebPro-Book.woff") format('woff');
}

@font-face {
  font-family: 'Kievit Medium';
  src: url("KievitWebPro-Medi.eot");
  src: local('Kievit Medium'), url("fonts/KievitWebPro-Medi.woff") format('woff');
}

@font-face {
  font-family: 'Kievit Bold';
  src: url("KievitWebPro-Bold.eot");
  src: local('Kievit Medium'), url("fonts/KievitWebPro-Bold.woff") format('woff');
}

@font-face {
  font-family: 'Kievit Light';
  src: url("KievitWeb-Light.eot");
  src: local('Kievit Light'), url("fonts/KievitWeb-Light.woff") format('woff');
}
body {
  margin: 0;
  font-family: 'Kievit Light';
}
.hero {
  padding-top: 2em;
  padding-bottom: -100px;
  background-color: #2d8ff7;
  text-align: center;
  color: #fff;
}
.hero img {
  max-width: 100%;
  margin-bottom: -4px;
}
.hero a, input[type="submit"] {
  margin: 2em auto;
  display: block;
  width: 219px;
  height: 45px;
  border-radius: 3px;
  box-shadow: 0px 1px 3px rgba(0,0,0,0.86);
  background-color: #0d8700;
  border: 1px solid #063c00;
  text-decoration: none;
  font-size: 20px;
  font-family: 'Kievit Regular';
  line-height: 45px;
  color: #fff;
  background-color: #00B00D; background-image: -webkit-gradient(linear, left top, left bottom, from(#00B00D), to(#009609));
  background-image: -webkit-linear-gradient(top, #00B00D, #009609);
  background-image: -moz-linear-gradient(top, #00B00D, #009609);
  background-image: -ms-linear-gradient(top, #00B00D, #009609);
  background-image: -o-linear-gradient(top, #00B00D, #009609);
  background-image: linear-gradient(to bottom, #00B00D, #009609);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#00B00D, endColorstr=#009609);
}
.hero a:hover, input[type="submit"]:hover{
  border:1px solid #000000;
  background-color: #25CB3B; background-image: -webkit-gradient(linear, left top, left bottom, from(#25CB3B), to(#006306));
  background-image: -webkit-linear-gradient(top, #25CB3B, #006306);
  background-image: -moz-linear-gradient(top, #25CB3B, #006306);
  background-image: -ms-linear-gradient(top, #25CB3B, #006306);
  background-image: -o-linear-gradient(top, #25CB3B, #006306);
  background-image: linear-gradient(to bottom, #25CB3B, #006306);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#25CB3B, endColorstr=#006306);
}
.content {
  max-width: 968px;
  margin: 0 auto;
  overflow:auto;
}
h1 {
  font-size: 60px;
  font-family: "Kievit Light";
  text-align: center;
  font-weight: 100;
}
h2 {
  font-family: "Kievit Light";
  font-size: 45px;
  font-weight: 100;
  line-height: 53px;
  color: #000;
}
.subheader {
  font-family: "Kievit Regular";
  font-weight: 100;
  font-size: 22px;
  line-height: 30px;
}
#f1 {
  margin-top: 3em;
}
.feature {
  overflow: auto;
  padding: 3em;
}
.ftext {
  font-family: "Kievit Regular";
  width: 60%;
  float: left;
  font-size: 17px;
  line-height: 27px;
  color: #7E7E7E;
  height: 100%;
}
.tc {
  display: table-cell;
  vertical-align: middle;
}
.img {
  width: 40%;
  float: left;
  padding-top: 1em;
}
.img.right {
  text-align: right;
}
.img.right img {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.img.left {
  float: left;
}
.benefits, .contact {
  text-align: center;
  margin-top: 2em;
  margin-bottom: 2em;
  padding-top: 2em;
  padding-bottom: 2em;
}
.benefits {
  background-color: #F5F5F5;
}
.benefit {
  float: left;
  display: block;
  width: 10%;
  padding: 2.5%;
  margin: 0 0.83%;
}
.benefit span {
  display: block;
  width: 100%;
}
.field {
  margin: 0 auto;
  width: 70%;
  max-width: 450px;
}
input, textarea {
  width: 100%;
  font-size: 20px;
  padding: 10px; 
  height: 22px;
  margin: 0.4em;
border-radius: 3px;
background-color: #fbfbfb;
border: 1px solid rgba(0,0,0,0.14);
}
input[type="submit"] {
  width: 104%;
  margin-top: 0;
  padding: 0; 
  margin-left: 10px;

  display: inline-block;
}
textarea {
  height: 100px;
}